*.a
*.la
*.lo
*.so
*.so.*
*.pc
*_test
*.coverage
*.coverage.gcda
*.coverage.gcno
doc/
.dep/
Makefile
autom4te.cache
config.log
config.status
configure
debian/.debhelper
debian/debhelper-build-stamp
debian/autoreconf.*
debian/*.substvars
debian/libcoqcic-dev/*
debian/libcoqcic0/*
debian/libcoqcic0-dbg/*
debian/tmp
debian/*.debhelper.log
debian/files
